body {
  font-family: "Times New Roman", Times, serif;
  margin: 40px;
  background-color: #fff;
}

h2 {
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap; 
}

li {
  width: 180px;
  border-right: 1px solid #e5e5e5;
  padding-right: 10px;
  margin-right: 10px;
}

li:last-child{
  border-right: none;
}

img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-radius: 4px;
}

small {
  display: block;
  color: #777;
  font-size: 12px;
  margin-top: 5px;
}

b {
  font-size: 14px;
  color: #000;
  line-height: 1.3;
  display: block;
  margin-top: 5px;
}
