*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
    background-color: rgb(180, 204, 248);
}
h1,.footer-section{
    background-color: rgb(4, 41, 110);
    padding: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    margin-bottom: 20px;
}
.footer-section{
    margin-top: 20px;
    font-weight: bold;
}
.create{
    padding: 20px;
    font-size: 30px;
}
.btn{
    border: none;
    padding: 10px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 2px solid black;
}
.users{
    background-color: rgb(74, 123, 212);
    margin-top: 20px;
    color: white;
}
.user{
    padding: 15px;
}
ul{
    margin-bottom: 10px;
}
li{
    padding: 5px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.update-btn{
    margin-right: 5px;
}
form{
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    max-width: 300px;
    margin: 20px auto;
}
form label{
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}
form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

